* { margin: 0px; 
    padding: 0;
    box-sizing: border-box;

}

body {
     height: 100vh;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}
.fondo23 { background-image: url(../assets/img/fondos23.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fondom54 { background-image: url(../assets/img/m54.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fondos23plus { background-image: url(../assets/img/fondos23plus.jpg); 
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.fondos23ultra { background-image: url(../assets/img/elbichodelaño.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

.fondoa54 { background-image: url(../assets/img/a54fondo.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

