@import "variables";

// header {background-color: $color-header;
//    a:hover {background-color: green;
//     border-radius: 2em;
    
//    }

// }

header { background-color: $color-header;
    ul {
        li:hover {
            background-color: green;
            border-radius: 2em;
        }
        
    }

}

.fondo-green:hover {background-color: green;
    

}

    
      




    



