@import "variables";

header { background-color: $color-header;
    ul {
        li:hover {
            background-color: green;
            border-radius: 1em;
        }
        
    }

}

.fondo-green:hover {background-color: green;
    

}

.btn-color { background-color: green;

}

    
.menu-hamburgesa { background-color: green;

}      




    



