

.imgnoticia1 { background-image: url(../assets/img/739436429_230679564_1706x960.webp);
    height: 30vh;
    width: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 


}

.imgnoticia2 { background-image: url(../assets/img/images.jpeg);
    height: 30vh;
    width: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

