.fondoindex { background-image: url(../assets/img/fondoindex.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fondo23 { background-image: url(../assets/img/fondos23.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fondom54 { background-image: url(../assets/img/m54.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.fondos23plus { background-image: url(../assets/img/fondos23plus.jpg); 
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.fondos23ultra { background-image: url(../assets/img/elbichodelaño.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

.fondoa54 { background-image: url(../assets/img/a54fondo.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
.fondoa34 { background-image: url(../assets/img/a34fondo.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 


}