.body-index { height: 100vh;
    background-image: url(../assets/img/fondoindex.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;


}

.header-index { height: 15vh;

}

.main-index { height: 70vh;

}

.footer-index {height: 15vh;

}