* { margin: 0px; 
    padding: 0;
    box-sizing: border-box;

}

body {height: 100vh;
     
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-color: white;
     
     
     
}

